{% extends "template.html" %}
{% load i18n %}
{% block title %}{% trans "Accommodation options | Ceica Peru Spanish School" %}{% endblock %}
{% block metadescription %}<meta name="description" content="{% trans 'Ceica Peru offers many accommodation options, including staying in the school building, in a private apartment, or with one of our host families.' %}">{% endblock %}
{% block content %}
{% load static %}
<header class="full-width">
  <div class="full-width-title-image">
    <picture>
      <source media="(max-width: 799px)" srcset=" {% static 'images/accommodation-800.JPG' %}">
      <source media="(min-width: 800px)" srcset=" {% static 'images/accommodation-1600.JPG' %}">
      <img style="margin-top: -35%" src=" {% static 'images/accommodation-1600.JPG' %}" alt="{% trans 'A student in the house of their host family' %}">
    </picture>
    <div class="title-image-text">
      <h1 class="slider-title">{% trans 'Accommodation' %}</h1>
    </div>
  </div>
</header>
<section class="container">
  <p class="prominent">{% trans 'Ceica Peru offers three accommodation options for your stay in Arequipa. Immerse yourself in Peruvian life by staying with a host family, stay in the school building for conveniently located facilities, or live it up in a private apartment.' %}</p>
</section>
{% if accommodation_list %}
  {% for e in accommodation_list %}
  <div class="strips">
  <section class="container">
  <h2> {{ e.name }}</h2>
  <div class="features-group">
    {% for feature in e.features.all %}
    <div class="features">
      <img src="/static/uploads/{{feature.icon}}">
      <p>
        <b>{{feature.name}}</b><br>
        {{feature.description}}
      </p>
    </div>
    {% endfor %}
  </div>
  <div class="group">

    <div class="col-2-3">


    <p>
      {{ e.description|linebreaksbr }}
    </p>
    <a class="btn" href="{% url 'prices' %}#A">See prices ></a>
    </div>
    <div class="col-1-3">
    <img class="photo" src="/static/uploads/{{e.image}}">
    </div>
  </div>
  </section>

  </div>
  {% endfor %}
{% else %}
<p>{% trans 'No accommodation, sorry!' %}</p>
{% endif %}

{% if faq_list %}
<section class="container">
  <h2 class="text-center">FAQs</h2>
  {% for FAQ in faq_list %}
  <button class="accordion">{{ FAQ.question }}<i class="fas fa-angle-down fa-lg style="float:right""></i></button>
  <div class="panel faq">
    <p>{{FAQ.answer|linebreaksbr}}</p>


  </div>
  {% endfor %}
</section>
{% else %}
<p>{% trans 'No FAQs, sorry!' %}</p>
{% endif %}
{% endblock %}
