{% extends "template.html" %}
{% block content %}
{% load static %}
<header class="full-width">
  <div class="full-width-title-image">
    <img style="margin-top: -40%" src="{% static 'images/contact-us.JPG' %}">
    <div class="title-image-text">
      <h1 class="slider-title">Contact Us</h1>
    </div>
</header>
<section class="container two-column">
  <div class="main">
    <h2>Contact form</h2>
    <p>
      Any questions? Contact us using this form:
    </p>
    <form role="form" action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn" type="submit">Submit</button>
    </form>
  </div>
  <div class="key-information">
    <h2>Contact Details</h2>
    <h3> Address</h3>
    <p>
    Calle Los Arces 257-A<br>
    Primer Piso, Cayma<br>
    Arequipa, Peru
    </p>
    <h3>Opening hours</h3>
    <p>
      08:00 - 17:00<br>
      Monday - Saturday
    </p>
    <h3>Telephone</h3>
    <p>
      (00 51 54) 250722<br>
      Whatsapp:<br>
      +51959910196
    </p>
  </div>
</section>
<section class="container">
  <h2>How to find us</h2>
  <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBQX0MCUG0LBL7wdEKWModztNFtS2ckToQ'></script>
  <div style='overflow:hidden;height:400px;width:100%;'>
    <div id='gmap_canvas' style='height:400px;width:100%;'></div>
    <style>#gmap_canvas img{max-width:940px!important;background:none!important}</style>
  </div>
  <a style="font-size: 2px" href='https://embedmaps.net'>Embedmaps</a>

  <script type='text/javascript'>function init_map(){var myOptions = {zoom:13,center:new google.maps.LatLng(-16.3875579,-71.5496015),mapTypeId: google.maps.MapTypeId.TERRAIN};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(-16.3875579,-71.5496015)}); infowindow = new google.maps.InfoWindow({content:'<strong></strong><br>Calle Los Arces 257-A, Primer Piso, Cayma<br> Arequipa<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
</section>
{% endblock %}
