{% extends "template.html" %}
{% load i18n %}
{% block title %}{% trans "FAQs | Ceica Peru Spanish School" %}{% endblock %}
{% block metadescription %}<meta name="description" content="{% trans 'How much can I learn in a week? How do I get to Arequipa? Check out our FAQs and find the answer.' %}">{% endblock %}
{% block content %}
{% load static %}

<header class="full-width">
  <div class="full-width-title-image">
    <picture>
      <source media="(max-width: 799px)" srcset=" {% static 'images/faqs-800.JPG' %}">
      <source media="(min-width: 800px)" srcset=" {% static 'images/faqs-1600.JPG' %}">
      <img src=" {% static 'images/faqs-1600.JPG' %}" alt="{% trans 'Plants in the Ceica Peru school garden' %}">
    </picture>
    <div class="title-image-text">
      <h1 class="slider-title">{% trans 'FAQs' %}</h1>
    </div>
</header>
<section class="container">
{% if object_list %}
  {% regroup object_list by get_question_type_display as question_type_list %}
  {% for question_type in question_type_list %}
  <h2 class="text-center"> {{ question_type.grouper }}</h2>
  {% for FAQ in question_type.list %}
  <button class="accordion">{{ FAQ.question }}<i class="fas fa-angle-down fa-lg style="float:right""></i></button>
  <div class="panel faq">
    <p>{{FAQ.answer|linebreaksbr}}</p>


  </div>
  {% endfor %}
  {% endfor %}
{% else %}
<p>{% trans 'No FAQs, sorry!' %}</p>
{% endif %}
</section>
{% endblock %}
