{% extends "template.html" %}
{% load i18n %}
{% block title %}{% trans "How to enroll in a volunteer program | Ceica Peru Spanish School" %}{% endblock %}
{% block metadescription %}<meta name="description" content="{% trans 'Read on to find out how enrollment for a volunteer program works once you have decided on the project you want to do.' %}">{% endblock %}
{% block content %}
{% load static %}

<header class="full-width">
  <div class="full-width-title-image">
    <picture>
      <source media="(max-width: 799px)" srcset=" {% static 'images/how-to-enroll-800.JPG' %}">
      <source media="(min-width: 800px)" srcset=" {% static 'images/how-to-enroll-1600.JPG' %}">
      <img src=" {% static 'images/how-to-enroll-1600.JPG' %}" alt="{% trans 'A group of children from a volunteer project in Arequipa' %}">
    </picture>
    <div class="title-image-text">
      <h1 class="slider-title">{% trans 'How to enroll' %}</h1>
    </div>
</header>
<section class="container">
  <p class="prominent">{% trans 'Our volunteer enrollment process aims to ensure that you are in a position to carry out your role safely and you are in the right project to you.' %}</p>
</section>
<section class="container">
  <h2>{% trans 'How it works' %}</h2>
  <ol>
    <li><a href="/enroll">Go our enrollment page</a> to begin your application. You'll be asked fill out your basic details and select the type of program you'd like to do, choosing the length of your stay and whether or not you'd like Spanish classes. You can then select your three most preferred volunteer projects. Please note that places are subject to availability.</li>
    <li>Once we have received the application form, we will ask you to send the documents which are requested by the relevant social organization. This could include a résumé in Spanish, a letter of Introduction about  yourself in Spanish, or possibly a copy of your university degree or your certificate of studies.</li>
    <li>After a couple of days, we will send you a response telling you which organization has accepted you. You'll then be invited to choose your accommodation and complete your enrollment.</li>
    <li>With everything confirmed, we will be in touch with you by e-mail you to coordinate further details and plan your arrival.</li>
  </ol>
  <a class="btn" href="{% url 'enroll' %}#A">Enroll now ></a>
</section>

<section class="container">
<h2>Terms and conditions</h2>
<p>
    Please, read carefully the general rules of the Ceica Peru Volunteer Program. By submitting your Enrolment form and your Enrolment fee, you acknowledge and accept the following terms and conditions:
</p>
<p>
    You confirm that you have read all of the information available in Ceica Peru Spanish School website concerning the requirements to apply for volunteer positions, the description of the programs that we offer, costs, etc.; and you understand and accept these.
</p>
<p>
    Ceica Peru Spanish School expects that the persons interested in applying for a volunteer position, choose a Program for Volunteers that matches their needs and availability of time; and also, that they will fulfill with their responsibility of studying Spanish (if this option is chosen), accommodation and carrying out the volunteer work, because this is a commitment that Ceica Peru Spanish School assumes with the people in charge of the different institutions that accept volunteers
</p>
<p>
    If you have to cancel your participation in Ceica Peru Volunteer Program for any reason, you can do it within 30 days before the start of your program, but your 20 dollars Enrollment fee will not be refunded.
</p>
<p>
    If you decide to cancel your volunteer program due to an emergency after your arrival in Arequipa, we can refund you part of your money which will be determined by the management of Ceica Peru Spanish School.
</p>
<p>
    If you decide to leave the accommodation and the volunteer work earlier than planned, no money will be refunded.
</p>
<p>
    If you are absent from your accommodation no refund will be given. Also, it is not possible to postpone the days, which you are not in the accommodation, when you travel. If you stay after your programmed departure date, you have to pay these additional days in Ceica Peru’s Administrative Office.
</p>
<p>
    The total payment of your Volunteer Program is expected on your arrival, in our Administrative Office.
</p>
<p>
    Ceica Peru Spanish School will make a contribution of 150 Soles to the Institution chosen by the volunteer. This contribution will be in the form of food, clothing, and articles for the children etc. The volunteer will personally hand this over to the institution.
</p>
<p>
    You agree that pictures taken during your project, in which you appear, can be used in Ceica Peru Spanish School website and promotional materials, in order to promote our Spanish School.
</p>
<p>
    You will be expected to behave in a manner consistent with the laws and customs of Peru. If you commit any illegal acts, offend local sensibilities, put at risk the welfare or safety of yourself or others, or act in a manner detrimental to the school, the local families or the social organizations, you will be required to leave promptly without recourse or refund.
</p>
<p>
    In the event of you choosing to leave the organization at any time, or if the staff has instructed you to leave, Ceica Peru Spanish School is released from any responsibility for your welfare immediately.
</p>
<p>
    Ceica Peru Spanish School does not provide insurance cover for you or your possessions. We are not liable for the loss, wear or damage to any personal items. You are advised to provide yourselves with appropriate health, accident and travel insurance for the time of your stay in Arequipa.
</p>

</section>
{% endblock %}
