{% extends "template.html" %}
{% load i18n %}
{% block title %}{% trans "Icons used | Ceica Peru" %}{% endblock %}
{% block metadescription %}<meta name="description" content="{% trans 'Icons used in the Ceica Peru Spanish School website' %}">{% endblock %}

{% block content %}
{% load static %}
<header class="full-width page-title">
  <div class="container">
    <h1>{% trans "Icons used" %}</h1>
  </div>
</header>
<section class="container">
<div class="icon-table-row">
  <div class="icon-image">
    <img src="{% static 'images/favicon.png' %}">
  </div>
  <div class="icon-attribution">
    <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </div>
</div>
<div class="icon-table-row">
  <div class="icon-image">
    <img src="{% static 'images/learn-spanish.png' %}">
  </div>
  <div class="icon-attribution">
    <div>Icons made by <a href="https://www.flaticon.com/authors/catalin-fertu" title="Catalin Fertu">Catalin Fertu</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </div>
</div>
<div class="icon-table-row">
  <div class="icon-image">
    <img src="{% static 'images/volunteer.png' %}">
  </div>
  <div class="icon-attribution">
    <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </div>
</div>
<div class="icon-table-row">
  <div class="icon-image">
    <img src="{% static 'images/accommodation.png' %}">
  </div>
  <div class="icon-attribution">
    <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </div>
</div>
<div class="icon-table-row">
  <div class="icon-image">
    <img src="{% static 'images/prices.png' %}">
  </div>
  <div class="icon-attribution">
    <div>Icons made by <a href="https://www.flaticon.com/authors/daniel-bruce" title="Daniel Bruce">Daniel Bruce</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </div>
</div>
<div class="icon-table-row">
  <div class="icon-image">
    <img src="{% static 'images/about-us.png' %}">
  </div>
  <div class="icon-attribution">
    <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </div>
</div>
<div class="icon-table-row">
  <div class="icon-image">
    <img src="{% static 'images/special-programs.png' %}">
  </div>
  <div class="icon-attribution">
    <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </div>
</div>
</section>
{% endblock %}
