{% extends "template.html" %}
{% block content %}
{% load static %}
{% load i18n %}
<section class="full-width">
  <div class="slider">
    <video autoplay playsinline muted class="active" controls>
      <source src="{% static 'videos/welcome.mp4' %}" type="video/mp4">
      {% trans "Your browser does not support the video tag." %}"
    </video>
    <img src="{% static 'images/slide-1.PNG' %}"/>
    <img src="{% static 'images/slide-2.png' %}"/>
    <img style="margin-top: -60%" src="{% static 'images/slide-3.png' %}"/>
    <img src="{% static 'images/slide-4.PNG' %}"/>
    <div class="slider-text">
      <h2 class="slider-title">

      </h2>
      <h2 class="slider-subtitle">

      </h2>
    </div>
  </div>
</section>
<section class="container single-column">
  <p class="prominent">
    {% trans "Ceica Peru is a Spanish language school located in Arequipa, Peru." %}
  </p>
  <p class="prominent">
    {% trans "We provide <b>individual lessons for all levels of Spanish speakers</b> and group lessons for new learners in a relaxed setting, in our beautiful garden or in the classroom. We have <b>special courses for travellers, volunteers and missionaries</b>. We also offer <b>a variety of accommodation options</b>, including living with local families, staying in the school building, and staying in a private furnished apartment." %}
  </p>
</section>
<section class="inset">
  <div class="container single-column">
      <h2 class="text-center">{% trans "What we offer" %}</h2>
    <div class="card-group">
      <div class="col-1-3 card">
        <div class="card-icon">
          <img src="{% static 'images/learn-spanish.png' %}">
        </div>
        <img src="{% static 'images/home-courses.PNG' %}">
        <div class="card-caption">
          <p class="card-title">
          {% trans "Courses" %}
          </p>
          <p>
          {% trans "We have a variety of courses for all levels of Spanish, as well as special courses in Peruvian history, Peruvian literature and Quechua." %}
          </p>
          <a href="{% url 'courses' %}">{% trans "Read more" %} ></a>
        </div>

      </div><!--Stop the white space
      --><div class="col-1-3 card">
        <div class="card-icon">
          <img src="{% static 'images/learn-spanish.png' %}">
        </div>
        <img src="{% static 'images/home-special.PNG' %}">
        <div class="card-caption">
          <p class="card-title">
          {% trans "Special programs" %}
          </p>
          <p>
          {% trans "We also offer special courses in Spanish for travelling, and programms combining Spanish learning with speaking practice around the city of Arequipa." %}
          </p>
          <a href="{% url 'special-programs' %}">{% trans "Read more" %} ></a>
        </div>
      </div><!--Stop the white space
      --><div class="col-1-3 card">
        <div class="card-icon">
          <img src="{% static 'images/volunteer.PNG' %}">
        </div>
        <img src="{% static 'images/home-volunteering.PNG' %}">
        <div class="card-caption">
          <p class="card-title">
          {% trans "Volunteering" %}
          </p>
          <p>
          {% trans "Ceica Peru Spanish School works together with several social projects in Arequipa to offer volunteer programs that allow you to practice Spanish and at the same time contribute to the social development of the children and adults of these communities." %}
          </p>
          <a href="{% url 'volunteer-programs' %}">{% trans "Read more" %} ></a>
        </div>
    </div>
  </div>
</section>
<section class="container single-column">
  <h2 class="text-center">{% trans "What our students say" %}</h2>
  {% if testimonial_list %}
    {% for testimonial in testimonial_list %}
    <div class="group quote">
      <a class="control control-left">‹</a>
      <div class="col col-3-4">
        <p>"{{testimonial.testimonial}}"</p>
        <p class="author">{{testimonial.name}}</p>
      </div>
      <div class="col col-1-4">
        <img class="photo" src="/static/uploads/{{testimonial.image}}">
      </div>
      <a class="control control-right">›</a>
    </div>
    {% endfor %}
  {% endif %}
</section>
<script src="{% static 'js/index.js' %}" defer></script>
{% endblock %}
