{% extends "template.html" %}
{% load i18n %}
{% block title %}{% trans "Special programs for travellers & tours of Arequipa | Ceica Peru Spanish School" %}{% endblock %}
{% block metadescription %}<meta name="description" content="{% trans 'Enroll in our intensive 1-week Spanish program tailored to travellers, or combine Spanish lessons with tours around the city of Arequipa' %}">{% endblock %}
{% block content %}
{% load static %}
<header class="full-width ">
  <div class="full-width-title-image">
    <picture>
      <source media="(max-width: 799px)" srcset=" {% static 'images/special-programs-800.JPG' %}">
      <source media="(min-width: 800px)" srcset=" {% static 'images/special-programs-1600.JPG' %}">
      <img src=" {% static 'images/special-programs-1600.JPG' %}" alt="{% trans 'A view of a church in Arequipa' %}">
    </picture>
    <div class="title-image-text">
      <h1 class="slider-title">{% trans 'Special Programs' %}</h1>
    </div>
  </div>
</header>
<div class="container two-column">


  <main class="col col-2-3">
    <p>{% trans "Not everyone has the same needs, so we've put together special programs for people who are interested in using Spanish for travelling or curious about the culture and sights of Arequipa." %}</p>
    {% if special_program_list %}
    <section class="section">
      <h2>{% trans 'Programs' %}</h2>
      {% for program in special_program_list %}
      <button class="accordion">{{program.service_name }}<i class="fas fa-angle-down fa-lg style="float:right""></i></button>

      <div class="panel">
        {% if program.duration_weeks == 1 %}
        <p><b>{% trans 'Length' %}: {{ program.duration_weeks }} {% trans 'week' %} | {% trans 'Spanish lessons' %}: {{ program.hours}} {% trans 'hours' %} ({{ program.daily_hours }} {% trans 'hours a day' %})</b></p>
        {% else %}
        <p><b>{% trans 'Length' %}: {{ program.duration_weeks }} {% trans 'weeks' %} | {% trans 'Spanish lessons' %}: {{ program.hours}} {% trans 'a week' %}</b></p>
        {% endif %}
        <img src="/static/uploads/{{program.image}}">

        <p>{{program.service_description|linebreaksbr}}</p>

      </div>
      {% endfor %}
      {% else %}
      <p>{% trans 'No courses, sorry!' %}</p>
      {% endif %}
    </section>
    <section class="section">
      {% if price_list %}
      <h2>{% trans 'Prices' %}</h2>
      <div class="responsive-table">
        <table class="price-list">
          <tr>
            <th>{% trans '(Price per person)' %}
            </th>

        {% for customer_type in customer_type_list %}
          {% if customer_type.number == 4 %}
          <th>{% trans 'Group of 4 or more' %} </th>
          {% elif customer_type.number == 1 %}
          <th>{% trans 'One on one' %}</th>
          {% else %}
          <th>{% trans 'Group of' %} {{ customer_type.number}}</th>
          {% endif %}
        {% endfor %}
          </tr>
          {% regroup price_list by service as lesson_list %}
          {% for service, prices in lesson_list %}
          <tr>
            <td>{{service}}
            </td>
            {% for customer_type in customer_type_list %}
            <td>{% for price in prices %}{% if price.customer_type == customer_type %}S/.{{ price.price}}{% endif %}{% endfor %}</td>
            {% endfor %}
          {% endfor %}
          </tr>
        </table>
      </table>
      <p class="prominent">{% trans 'For more prices and to calculate the total cost of your stay at Ceica Peru' %}, <a href="/prices">{% trans 'click here' %}</a>.</p>


      {% endif %}
    </section>
  </main>
  <aside class="col col-1-3 key-information">
    <h2 class="aside-header">{% trans 'Program information' %}</h2>
    <ul>
      <li>{% trans 'Some special programs have a fixed duration' %}</li>
      <li>{% trans 'All programs involve some Spanish teaching' %}</li>
      <li>{% trans "If you'd like to discuss putting together a program to meet your needs, get in touch!" %}</li>

    </ul>
    <a href="{% url 'enroll' %}"><button class="btn">{% trans 'Enroll now' %}</button></a>
  </aside>
</div>
{% endblock %}
