<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.structure.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet/less" type="text/css" href="{% static '/css/cleancss03.less' %}" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Mukta:400,600,700" rel="stylesheet">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'images/icons/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'images/icons/safari-pinned-tab.svg' %}" color="#376a67">
  <link rel="shortcut icon" href="{% static 'images/icons/favicon.ico' %}">
  <meta name="msapplication-TileColor" content="#376a67">
  <meta name="msapplication-config" content="{% static 'images/icons/browserconfig.xml' %}">
  <meta name="theme-color" content="#c8dedd">

  <!-- IOS meta tags -->
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!-- Javascript -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js" >less = { env: 'development'};</script>
  <script>less.watch();</script>

  <!-- Title and description -->
  <title>{% block title %}Ceica Peru Home{% endblock %}</title>
  {% block metadescription %}<meta name="description" content="Description">{% endblock %}

  <!-- Social media meta tags -->
  {% block socialmediameta %}
  <meta property="og:title" content="Ceica Peru Spanish School">
  <meta property="og:description" content="Ceica Peru is a Spanish language school located in Arequipa, Peru. We provide lessons for all levels of Spanish speakers in a relaxed setting, in our beautiful garden or in the classroom.">
  <meta property="og:image" content="{% static 'images/socialmedia.PNG">
  <meta property="og:url" content="http://www.ceica-peru.com">
  <meta name="twitter:card" content="summary_large_image">
  {% endblock %}

  </head>
  <body>
    <link href="https://fonts.googleapis.com/css?family=Mukta:400,600,700" rel="stylesheet">
  <!-- Note: add some JS to disable the href of the link! -->
    <div class="header-container">
      <header class="header">

        <div class="header-top">
          <div class="logo">
            <a href="{% url 'index' %}"><span class="logo-mobile" style="color: #fff; font-size: 24px">Ceica Peru</span></a>
            <a href="{% url 'index' %}"><img  class="logo-full" src="{% static 'images/logo.png' %}"/></a>
          </div>
          <div id="menu-toggle" class="menu-toggle close">

              <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="cross">
                <span></span>
                <span></span>
              </div>
            </div>

        </div>
        <div class="navbar">

          <div class="languages">

            <p id="current-language">{{ LANGUAGE_CODE }}</p>
            <img class="language-selection-icon" src="https://png.pngtree.com/svg/20170608/ico_language_1214587.png">
            <input id="dropdown"  type="checkbox" name="menu" class="language-dropdown">
            <label for="dropdown" class="dropdown-label"></label>
            <div class="language-options">
              <a id="en" class="language-option" href="/en">
                <img src="{% static 'images/united-kingdom.png' %}" />
                <p class="language-text nav-item">English</p>
              </a>
              <a style="display: none" id="fr" class="language-option" href="#">
                <img src="{% static 'images/france.png' %}"/>
                <p class="language-text nav-item">Francais</p>
              </a>
              <a style="display: none" id="de" class="language-option" href="#">
                <img src="{% static 'images/germany.png' %}"/>
                <p class="language-text nav-item">Deutsch</p>
              </a>
              <a id="es" class="language-option" href="/es">
                <img src="{% static 'images/spain.png' %}"/>
                <p class="language-text nav-item">Español</p>
              </a>
            </div>

            <hr class="nav-divider">
          </div>

          <ul class="primary-nav">
            <li class="nav-item sub-menu-link">
              <input class="sub-menu-toggle" id="learn-spanish" type="checkbox">
              <img class="primary-nav-image" src="{% static 'images/learn-spanish.png' %}"/>
              <label class="sub-menu-label" for="learn-spanish">{% trans "Learn Spanish" %}</label>

              <ul class="sub-menu">
                <li class="nav-item">
                  <label class="sub-menu-back" for="learn-spanish">&lt; Back</label>
                </li>
                <li class="nav-item"><a href="{% url 'courses' %}">{% trans "Spanish lessons" %}</a></li>
                <li class="nav-item"><a href="{% url 'special-programs' %}">{% trans "Special programs" %}</a></li>
                <li class="nav-item"><a href="{% url 'extras' %}">{% trans "Extras" %}</a></li>
              </ul>
            </li>
            <li class="nav-item sub-menu-link">
              <input class="sub-menu-toggle" id="volunteer" type="checkbox">
              <img class="primary-nav-image" src="{% static 'images/volunteer.png' %}">
              <label class="sub-menu-label" for="volunteer">{% trans "Volunteer" %}</label>

              <ul class="sub-menu">
                <li class="nav-item">
                  <label class="sub-menu-back" for="volunteer">&lt; Back</label
                </li>
                <li class="nav-item"><a href="{% url 'why-volunteer' %}">{% trans "Why volunteer?" %}</a></li>
                <li class="nav-item"><a href="{% url 'volunteer-projects' %}">{% trans "Volunteer projects" %}</a></li>
                <li class="nav-item"><a href="{% url 'how-to-enroll' %}">{% trans "How to enroll" %}</a></li>
              </ul>
            </li>
            <li class="nav-item"><img class="primary-nav-image" src="{% static 'images/accommodation.png' %}"><a href="{% url 'accommodation' %}"><p>{% trans "Accommodation" %}</p></a></li>
            <li class="nav-item"><img class="primary-nav-image" src="{% static 'images/prices.png' %}"><a href="{% url 'prices' %}"><p>{% trans "Prices" %}</p></a></li>
            <li class="nav-item sub-menu-link">
              <input class="sub-menu-toggle" id="about" type="checkbox">
              <img class="primary-nav-image" src="{% static 'images/about-us.png' %}">
              <label class="sub-menu-label" for="about">{% trans "About Us" %}</label>

              <ul class="sub-menu">
                <li class="nav-item">
                  <label class="sub-menu-back" for="about">&lt; Back</label
                </li>
                <li class="nav-item"><a href="{% url 'about-the-school' %}">{% trans "About the school" %}</a></li>
                <li class="nav-item"><a href="{% url 'contact' %}">{% trans "Contact Us" %}</a></li>
                <li class="nav-item"><a href="{% url 'faqs' %}">{% trans "FAQs" %}</a></li>
              </ul>
            </li>
            <li class="nav-item action-btn"><a href="{% url 'enroll' %}"><p>{% trans "Enroll" %}</p></a></li>
          </ul>
        </div>
      </header>
    </div>
    <main>{% block content %}<!-- default content text (typically empty) -->{% endblock %}
    </main>
    <footer class="full-width">
      <div class="container footer">
        <div class="col-footer col-logo">
          <a  class="footer-image-link" href="{% url 'index' %}"><img class="footer-image" src="{% static 'images/logo-white.png' %}"/></a>
        </div>
        <div class="col-footer">
          <div class="col col-1-3">
            <p>
              <b>{% trans "Address:" %}</b><br>
              Calle Los Arces 257-A, <br>
              Primer Piso, Cayma, <br>
              Arequipa, Peru
            </p>
          </div><div class="col col-1-3">
            <p>
            <b>Tel:</b><br>
            (00 51 54) 250722<br>
            <b>Whatsapp:</b><br>
            +51959910196
            </p>
          </div><div class="col col-1-3">
            <p>
            <a class="footer-link" href="mailto:ceicaperuspanishschool@hotmail.com"><img class="footer-social" src="{% static 'images/email.png' %}"/></a>
            <a class="footer-link" href="www.facebook.com/ceicaperu/"><img class="footer-social" src="{% static 'images/facebook.png' %}"/></a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    {% load static %}
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>
    <script src="{% static 'js/site.js' %}" defer></script>
    <script src="{% static 'js/parallax.js' %}" defer></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>


  </body>
</html>
