<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.structure.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet/less" type="text/css" href="{% static 'css/cleancss03.less' %}" />
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet">
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js" >less = { env: 'development'};</script>
  <script>less.watch();</script>

  <title>Ceica Peru Home</title>
</html>
<body>
  {% load i18n %}
  <header class="page-header">
    <nav class="language-nav">
      <ul>
        {% get_current_language as LANGUAGE_CODE %}
        <p id="current-language">{{ LANGUAGE_CODE }}</p>
        <li id="en"><a href="/en"><img src="{% static 'images/united-kingdom.png' %}" /></a></li>
        <li id="fr"><a href="#"><img src="{% static 'images/france.png' %}"/></a></li>
        <li id="de"><a href="#"><img src="{% static 'images/germany.png' %}"/></a></li>
        <li id="es"><a href="/es"><img src="{% static 'images/spain.png' %}"/></a></li>
      </ul>
    </nav>
    <nav class="top-nav" id="scroll-nav" >
      <ul>
        <li class="dropdown-header">
          <img src="{% static 'images/learn-spanish.png' %}">
          <p>{% trans "Learn Spanish" %}</p>
          <ul class="dropdown">
            <li class="navlink"><a href="{% url 'courses' %}"><p>{% trans "Spanish lessons" %}</p></a></li>
            <li class="navlink"><a href="{% url 'special-programs' %}"><p>{% trans "Special programs" %}</p></a></li>
            <li class="navlink"><a href="{% url 'extras' %}"><p>{% trans "Extras" %}</p></a></li>
          </ul>
        </li>
        <li class="dropdown-header">
          <img src="{% static 'images/volunteer.png' %}">
          <p>{% trans "Volunteer" %}</p>
          <ul class="dropdown">
            <li class="navlink"><a href="{% url 'why-volunteer' %}"><p>{% trans "Why volunteer?" %}</p></a></li>
            <li class="navlink"><a href="{% url 'volunteer-programs' %}"><p>{% trans "Volunteer programs" %}</p></a></li>
            <li class="navlink"><a href="{% url 'how-to-enroll' %}"><p>{% trans "How to enroll" %}</p></a></li>
          </ul>
        </li>
        <li class="navlink"><a href="{% url 'accommodation' %}"><img src="{% static 'images/accommodation.png' %}"><p>{% trans "Accommodation" %}</p></a></li>
        <li class="navlink"><a href="{% url 'prices' %}"><img src="{% static 'images/prices.png' %}"><p>{% trans "Prices" %}</p></a></li>
        <li class="dropdown-header">
          <img src="{% static 'images/about-us.png' %}">
          <p>{% trans "About Us" %}</p>
          <ul class="dropdown">
            <li class="navlink"><a href="{% url 'about-the-school' %}"><p>{% trans "About the school" %}</p></a></li>
            <li class="navlink"><a href="#"><p>{% trans "About Arequipa" %}</p></a></li>
            <li class="navlink"><a href="{% url 'contact' %}"><p>{% trans "Contact Us" %}</p></a></li>
            <li class="navlink"><a href="{% url 'faqs' %}"><p>{% trans "FAQs" %}</p></a></li>
          </ul>
        </li>
        <li class="action-btn" ><a href="{% url 'enroll' %}" class="navlink"><p>{% trans "Enroll" %}</p></a></li>
      </ul>
    </nav>
    <div class="logo">
      <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="Ceica Peru Spanish School"/></a>
    </div>
  </header>
  <main>{% block content %}<!-- default content text (typically empty) -->{% endblock %}
  </main>
  <footer class="full-width">
    <div class="container footer">
      <div class="col-footer col-logo">
        <a  class="footer-image-link" href="{% url 'index' %}"><img class="footer-image" src="{% static 'images/logo-white.png' %}"/></a>
      </div>
      <div class="col-footer">
        <div class="col col-1-3">
          <p>
            <b>Dirección:</b><br>
            Calle Los Arces 257-A, <br>
            Primer Piso, Cayma, <br>
            Arequipa, Peru
          </p>
        </div><div class="col col-1-3">
          <p>
          <b>Tel:</b><br>
          (00 51 54) 250722<br>
          <b>Whatsapp:</b><br>
          +51959910196
          </p>
        </div><div class="col col-1-3">
          <p>
          <b>E-mail:</b><br>
          <a class="footer-link" href="mailto:ceicaperuspanishschool@hotmail.com">ceicaperuspanishschool@hotmail.com</a><br>
          <b>Facebook:</b><br>
          <a class="footer-link" href="www.facebook.com/ceicaperu/">www.facebook.com/ceicaperu/</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  {% load static %}
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
  <script src="{% static 'js/site.js' %}" defer></script>
  <script src="{% static 'js/parallax.js' %}" defer></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>


</body>
</html>
