{% extends "template.html" %}
{% load i18n %}
{% block title %}{% trans "Volunteer Projects | Ceica Peru Spanish School" %}{% endblock %}
{% block metadescription %}<meta name="description" content="{% trans 'Below you will find the list of volunteer projects that Ceica Peru currently offers. You can choose the length of your stay and you can also choose to combine volunteering with Spanish lessons. For more information on this, see the price table at the bottom of the page.' %}">{% endblock %}
{% block content %}
{% load static %}

<header class="full-width ">
  <div class="full-width-title-image">
    <picture>
      <source media="(max-width: 799px)" srcset=" {% static 'images/volunteer-projects-800.JPG' %}">
      <source media="(min-width: 800px)" srcset=" {% static 'images/volunteer-projects-1600.JPG' %}">
      <img src=" {% static 'images/volunteer-projects-1600.JPG' %}" alt="{% trans 'A volunteer holding children from Casa Hogar' %}">
    </picture>
    <div class="title-image-text">
      <h1 class="slider-title">{% trans 'Volunteer Projects' %}</h1>
    </div>
  </div>
</header>
<div class="container two-column">


  <main class="col col-2-3">
    <section class="section">
      <p>{% trans 'Below you will find the list of volunteer projects that Ceica Peru currently offers. You can choose the length of your stay and you can also choose to combine volunteering with Spanish lessons. For more information on this, see the price table at the bottom of the page.' %}</p>
      {% if volunteer_project_list %}
      <h2{% trans '>Volunteer Projects' %}</h2>
      <div class="accordion-set">
        {% for project in volunteer_project_list %}
        <button class="accordion">{{project.project_name }}<i class="fas fa-angle-down fa-lg style="float:right""></i></button>

        <div class="panel">
          <img class="accordion-image" src="/static/uploads/{{project.image}}"  alt="{{project.project_name}}">

          <p>{{project.description|linebreaksbr}}</p>

        </div>
        {% endfor %}
      </div>
      {% else %}
      <p>{% trans 'No volunteer programs, sorry!' %}</p>
      {% endif %}
    </section>
    <section class="section">
      {% if price_list %}
      <h2>{% trans 'Prices' %}</h2>
      {% regroup price_list by program_type as program_type_list %}
      {% for program_type, programs in program_type_list %}

        <div class="responsive-table">
          <table class="price-list">
            <tr>
              <th>{{program_type}}</th>
              <th>{% trans 'Orientation' %}</th>
              <th>{% trans 'Volunteering' %}</th>
              <th>{% trans 'Accommodation' %}</th>
              <th>{% trans 'Price' %}</th>
            </tr>
            {% for program in programs %}
            <tr>
              <td>{{program.name}}</td>
              <td>{{program.orientation}}</td>
              <td>{{program.volunteer_work}}</td>
              <td>{{program.accommodation}}</td>
              <td>S/. {{program.price}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <br>


      {% endfor %}
      <p class="prominent">{% trans 'For more prices and to calculate the total cost of your stay at Ceica Peru' %}, <a href="/prices">{% trans 'click here' %}</a>.</p>


      {% endif %}
    </section>
  </main>
  <aside class="col col-1-3 key-information">
    <h2 class="aside-header">{% trans 'Program requirements' %}</h2>
    <ul>
      <li>{% trans 'You must be at least 18 years old.' %}</li>
      <li>{% trans 'You should obey the personnel in charge of your social project.' %}</li>
      <li>{% trans "It's important to have an open mindset to understand the restrictions that our traditional  conservative culture imposes, for example when you are working wear appropriate clothes (no miniskirts, shorts, low or skimpy tops etc); avoid romantic relationships with the personnel or youths in care." %}</li>
      <li>{% trans 'Behave ethically in the volunteer work place and be willing to comply with the norms established by the institution.' %}</li>

    </ul>
    <a href="{% url 'enroll' %}"><button class="btn">{% trans 'Enroll now' %}</button></a>
  </aside>
</div>
{% endblock %}
