/* Contents

1. Base
2. Typography
3. Layout
3.1 Containers, columns
3.2 Background styles
4. Modules
5. Components

*/

/* --------- Base --------- */

@site-main: rgba(55, 106, 103, 1);
@site-main-bright: #63a7a3;
@site-main-translucent: rgba(55, 106, 103, 0.7);
@site-light-blue: rgba(200, 222, 221, 1);
@text-color: #545454;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
}

img {
  width: 100%;
}


/* --------- Typography --------- */
body, textarea, input, button, select {
  font-family: 'Mukta', sans-serif;
  font-size: 110%;
  font-weight: normal;
  color: @text-color;
}

.heading {
  margin-top: 0;
  margin-bottom: 0.5em;
}

h1, h2, {
  .heading;
  font-family: "Amatic SC";
  color: @site-main;
  text-align: center;
}

h1 {
  font-size: 3.5em;
  @media (min-width: 1040px) {
    font-size: 4.5em;
  }
}

h2 {
  font-size: 2.5em;
  @media (min-width: 720px) {
    text-align: left;
  }
  @media (min-width: 1040px) {
    font-size: 2.75em;
  }
}

h3 {
  .heading;
  font-size: 1.8em;
  font-weight: 300;
}

p {
  font-size: 0.9em;
  line-height: 1.4em;
  margin-top: 0px;
  @media (min-width: 720px) {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}

p + p {
  margin-top: 2em;
}

a {
  text-decoration: none;
  color: @site-main-bright;
}

.prominent {
  text-align: center;
  font-size: 1.2em;
  @media (min-width: 720px) {
    font-size: 1.3em;
    line-height: 1.5em;
  }
}

.aside-header {
  text-align: center;
}

.text-center {
  text-align: center;
}


.parallax-window {
    min-height: 100px;
    background: transparent;
}

.parallax-text {
  padding: 100px 160px 50px 160px;
  @media (max-width: 720px) {
    padding: 60px 40px 30px 40px;
  }
}

.parallax-title {
  color: #fff;
  font-size: 85px;
  margin: 0;
  text-align: center;
  text-shadow: 0px 0px 20px #000;
}

.parallax-paragraph {
  text-align: center;
  padding: 10px 0px;
  color: #fff;
  font-size: 1.5em;
  line-height: 1.4em;
}

/* --------- Layout --------- */

.container {
  padding: 20px;
  @media (min-width: 1060px) {
    max-width: 1040px;
    margin: 0 auto;
  }
}

.container.two-column {
  padding: 0px;
}

.col {
  display: block;
  padding: 15px 10px;
    @media (min-width: 720px) {
      display: inline-block;
      vertical-align: top;
      padding: 30px 10px;
    }
}

.single-column {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 720px) {
  .col-1-4 {width: 25%}
  .col-1-3 {width: 33%}
  .col-1-2 {width: 50%}
  .col-2-3 {width: 66%}
  .col-3-4 {width: 75%}
}

.group {
  display: block;
    @media (min-width: 720px) {
      display: flex;
      align-items: center;
      zoom: 1;
    }
}

.section {
  margin-bottom: 30px;
}

/* Column styles! */

.key-information {
  padding: 30px 10px;
  background-color: @site-main;
  color: #fff;
  margin-bottom: 30px;
  .aside-header {
    color: #fff;
  }
  .btn {
    background-color: #fff;
    color: rgba(55, 106, 103, 1);
    display: block;
    margin: 0 auto;
  }
  .btn:hover {
    background-color: rgba(255,255,255,0.6);
  }
}


/* Background styles! */
.inset {
  background-color: #e0e0e0;
  -moz-box-shadow:    inset 0 5px 10px -5px #000000;
  -webkit-box-shadow: inset 0 5px 10px -5px #000000;
  box-shadow:         inset 0 5px 10px -5px #000000;
}

.strips:nth-child(odd) {
  background-color: #e8edec;
}

.simple-title-bar {
  background-color: @site-main;
}

.image-title-bar {
  text-shadow: 0px 0px 20px #000;
  position: relative;
  background-size:cover;
  padding: 60px 0px;
}

.title-bar-heading {
  color: #fff;
  padding: 20px 0px;
  margin: 0;
  z-index: 1;
  @media (min-width: 720px) {
    font-size: 4.2em;
    padding: 40px 0px;
  }
  @media (min-width: 1040px) {
    font-size: 5em;
    padding: 50px 0px;
  }
}

/* --------- Modules --------- */

/* Footer */
footer {
  background-color:  rgba(55, 106, 103, 1);
  color: #fff;
}

.footer-social {
  width: 50px;
}

.col-footer {
  .col-1-3 {
    padding: 0 20px;
    text-align: center;
    word-break: break-all;
  }
  @media (min-width: 720px) {
    display: flex;
    .col-1-3:not(:first-child) {
      border-left: 1px solid #fff;
    }
  }
  @media (min-width: 1040px) {
    .col-1-3 {
      border-left: 1px solid #fff;

    }
  }
}

.col-logo {
  text-align:center;
  @media (min-width: 1040px) {
  float:left;
  }
}

.footer-image-link {
  margin: 0 auto;
  padding: 0px 20px;
}

.footer-image {
  width: auto;
}

.footer {
  padding: 40px 0px;
}

.footer-link {
  text-decoration: underline;
  color: #fff;
}


/* Header */

body {
  margin: 0;
}

.sub-menu-toggle {
  display: none;
}

#current-language {
  display: none;
}


@media screen and (max-width: 800px) {

.header-container {
  padding-bottom: 50px;
}

.header-top {
  background-color: #376a67;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo-full {
  display: none;
}

.menu-toggle {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 8px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-toggle .hamburger, .menu-toggle .cross {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
}

.menu-toggle .cross {
  transform:rotate(45deg);
}

.cross span:nth-child(1){
  height:0%;
  width:2px;
  position:absolute;
  left: 8px;
  transition-delay:0s;
}
.cross span:nth-child(2){
  width:0%;
  height:2px;
  top: 8px;
  position:absolute;
  transition-delay:.25s;
}

.menu-toggle.open .cross span:nth-child(1){
  height:80%;
  transition-delay:.625s;
}

.menu-toggle.open .cross span:nth-child(2){
  width:80%;
  transition-delay:.375s;
}

.hamburger span, .cross span {
  margin-top: 5px;
  height: 2px;
  background:#fff;
  width: 20px;
  display: block;
  transition:.25s ease-in-out;
}

.menu-toggle .hamburger span:nth-child(1) {transition-delay: .5s}
.menu-toggle .hamburger span:nth-child(2) {transition-delay: .625s}
.menu-toggle .hamburger span:nth-child(3) {transition-delay: .75s}

.menu-toggle.open .hamburger span {width: 0%;}

.menu-toggle.open .hamburger span:nth-child(1) {transition-delay: 0s}
.menu-toggle.open .hamburger span:nth-child(2) {transition-delay:.125s}
.menu-toggle.open .hamburger span:nth-child(3) {transition-delay:.25s}

.navbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 50px;
  width: 300px;
  background-color: #376a67;
  font-family: "Mukta", sans-serif;
  font-size: 1.1em;
  margin-left: -300px;
  transition: margin 0.3s ease-in-out;
  position: fixed;
  z-index: 3;
}

.screen {
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0, 0.2);
  position: fixed;
  left: 0px;
  z-index: -2;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.screen.show {
  opacity: 1;
}

.navbar.show {
  margin-left: 0px;
}

.logo img {
  width: 140px;
}

.navbar .languages {
  text-align: center;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}


.language-dropdown {
  display: none;
}

.dropdown-label:after {
  content: "v";
}

.language-selection-icon {
  width: 20px;
  position: absolute;
  top: 24px;
  left: 10px;
}

input:checked ~ .dropdown-label:after {
  content: "^";
}

input:checked ~ .language-options {
  max-height: 200px;
}



.language-dropdown {
  position: absolute;
  right: 15px;
  top: 25px;
  color: #fff;
}

.dropdown-label {
  position: absolute;
  padding: 8px 30px;
  width: 240px;
  text-align: right;
  color: #fff;
}

.language-options {
  max-height: 60px;
  transition: max-height 0.5s cubic-bezier(0, 0, 0.3, 1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.language-option {
  padding: 0px 10px;
  display: flex;
  color: #fff;
  flex-shrink: 0;
}

.language-option.selected {
 order: -1;
 display: flex;
 padding-left: 40px;
 margin-top: 5px;
}

.language-option.selected:before {
}

.language-option img {
  align-self: center;
  flex: 0 0 auto;
  margin-right: 10px;
  display: none;
}

.language-option.selected img {
  border: 2px solid #fff;
  border-radius: 20px;
}

.primary-nav {
  position: relative;
}

.primary-nav-image {
  display: none;
}

.primary-nav p {
  margin: 0;
}

.primary-nav, .sub-menu {
  list-style: none;
  margin: 0;
  padding: 0px 0px 10px 0px;
}

.nav-divider {
  width: 98%;
}

.nav-item {
  padding: 8px;
  margin: 0;
  color: #fff;
  font-size: 1em;
}

.nav-item p {
  font-size: 1em;
}

.nav-item a {
  color: #fff;
}

.sub-menu {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 0px;
  overflow: hidden;
  background-color:  #376a67;
  z-index: 1;
  transition: width 0.3s cubic-bezier(0, 0, 0.3, 1);
  height: 300px;
  white-space: nowrap;

}



.sub-menu-link {
  display: flex;
}

.sub-menu-link:after {
  content: ">";
  display: flex;
  align-self: flex-end;
}

.sub-menu-link.opened .sub-menu {
  width: 300px;
}

.sub-menu-back, .sub-menu-label {
  width: 300px;
  margin: -10px 0px -10px -10px;
  padding: 10px 0px 10px 10px;
  display: block;
  color: #fff;
}
}

@media screen and (max-width: 940px) {
  .primary-nav-image {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .header-container {
    max-width: 1040px;
    margin: 0 auto;
  }

  .header {
    display: flex;
    align-items: flex-end;
  }

  .navbar {
    flex-grow: 1;
  }

  .language-selection-icon, .logo-mobile, #dropdown, .language-text, .nav-divider, .sub-menu-back {
  display: none;
}

  .language-options {
    display: flex;
    justify-content: flex-end;
  }

  .language-option {
    padding: 5px;
    margin: 5px 1px;
    width: 40px;
    height: 40px;
  }

  .language-option img {
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.5s;
  }

  .language-option img:hover {
    opacity: 0.3;
  }

  .language-option.selected img {
    border: 3px solid rgb(105, 69, 75);
    border-radius: 32px;
  }

  .primary-nav {
    padding-inline-start: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 0.9em;
    font-weight: 600;
    padding: 5px;
  }

  .primary-nav .action-btn {
    background-color: rgba(55, 106, 103, 1);
    border-radius: 5px;
    transition: opacity 0.5s ease;
  }

  .primary-nav .action-btn:hover {
    opacity: 0.7;
  }

  .primary-nav .action-btn p {
    color: #fff;
  }

  .primary-nav.smaller {
    font-size: 0.8em;
  }

  .primary-nav p {
    padding: 15px 10px;
    display: inline;
    color: #545454;
  }

  .primary-nav-image {
    margin-top: -10px;
    margin-bottom: -15px;
    padding: 5px;
    width: auto
  }

  .sub-menu-link {
    position: relative;
  }

  .sub-menu-label {
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    margin-left: -30px;
    padding-left: 30px;
  }

  .sub-menu {
    box-sizing: border-box;
    visibility: hidden;
    list-style: none;
    width: 100%;
    padding-left: 10px;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 44px;
    background-color: #e0e0e0;
    line-height: initial;
    z-index: 1;
    transition: visibility 0s, opacity 0.5s ease;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .sub-menu .nav-item:not(:first-child) {
    padding: 10px 0px;
  }

  .nav-item {
    transition: background-color 0.5s ease;
  }

  .nav-item p {
    font-size: 1em;
  }


  .sub-menu li {
    display: block;
  }

  .sub-menu a {
    color: #545454;
  }

  .sub-menu-link.opened .sub-menu {
    opacity: 1;
    visibility: visible;
    display: block;
  }

  .primary-nav > .nav-item {
    margin-left: 10px;
    display: inline-block;
    line-height: 40px;
    padding: 2px 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .nav-item.opened {
    background-color: #e0e0e0;
  }
}


/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.sticky-ul {
  text-align: center;
  -webkit-margin-before: 0;
  background-color: #FFFFF0;
  padding: 10px 0
}


/* ----------- Components ----------------- */

.full-width-image {
  width: 100%;
  height: 0px;
  padding-top: 50%;
  overflow: hidden;
  position: relative;
}

.full-width-title-image {
  width: 100%;
  height: 0px;
  padding-top: 30%;
  overflow: hidden;
  position: relative;
}

.full-width-title-image h1 {
  color: #fff;
  font-size: 85px;
  margin: 0;
  text-shadow: 0px 0px 20px #000;
  font-weight: 700;
}

.full-width-title-image img {
  width:100%;
  margin-top: -30%;
}

@media all and (max-width: 800px) {
  .title-image-responsive {
    background-color: @site-light-blue;
  }

  .title-image-responsive img {
    display: none;
  }

  .title-image-responsive h1 {
    color: @site-main;
    text-shadow: none;
  }
}

.title-image-text {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  top: 40%;
}

@media all and (max-width: 940px) {
  .full-width-title-image h1 {
    font-size: 75px;
  }
}

@media all and (max-width: 720px) {
  .full-width-title-image h1 {
    font-size: 55px;
  }

  .full-width-title-image {
    padding-top: 40%;
  }

  .full-width-title-image img {
    margin-top: -40%;
  }

  .title-image-text {
    top: 30%;
  }
}

/* Features */

.features-group {
  display: flex;
  @media all and (max-width: 720px) {
    display: block;
  }
}

.features {
  display: flex;
  margin: 10px;
}

.features p {
  font-size: 0.7em;
  line-height: 1.3em;
  margin-top: 0px;
}

.features img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  @media all and (max-width: 720px) {
    width: 40px;
    height: 40px;
  }

}




/* Price tables */
.responsive-table {
  overflow-x: auto;
}


.price-list {
  width: 100%;
  margin-bottom: 30px;
}

td +  td {
  text-align: center;
}

th + th {
  text-align: center;
}

table, th, td {
  border-bottom: 2px solid #ddd;
  border-collapse: collapse;
  padding: 10px;
}

@media all and (max-width: 720px) {
  table, th, td {
    font-size: 0.9em;
  }
}


/* Accordions */



.accordion {
    background-color: @site-light-blue;
    color: @site-main;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 5px 0px;
    font-size: 1em;
}

.accordion svg {
  float: right;
}

.accordion-image {
  display: block;
  width: 85 %;
  margin: 0 auto 20px auto;
  box-shadow: 2px 3px 10px rgba(0,0,0, 0.4);
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    margin-top: 10px;
}


@media all and (min-width: 940px)  {
  .accordion {
    background-color: rgb(55, 106, 103);
    color: #fff;
    font-size: 1.3em;
  }

  .accordion-image {
    width: 60%;
  }
}

/* .panel img {
  width: 35%;
  display: block;
  margin-left: 5%;
  float: right;
} */

.panel.faq p {
  width: 100%;
}

/*
.panel p {
  width: 60%;
  display: block;
  float: left;
} */



/* Image styles */
.photo {
  width: 90%;
  margin: 20px auto;
  display: block;
  border: 5px solid @site-main;
  @media (min-width: 720px) {
  width: 100%;
  }
}

img.feature {
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 640px;
}

/* Cards */

@media all and (min-width: 720px) {
  .card-group {
    display: flex;
  }
}

.card {
  margin: 5px;
  transition: background-color 1s;
  position: relative;
  padding-bottom: 20px;
  text-align: center;
  background-color: #fff;
}

.card img {
  width: 100%;
}

.card-icon {
  padding: 5px 5px 15px 15px;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 55px;
  background-color: #fff;
}

.card-icon img {
  width: auto;

}

.card-caption {
  padding: 8px;
  margin-top: -5px;
}
.card-title {
  font-size: 1.4em;
  font-weight: bold;
  margin: 5px 0;
}

.card a {
  text-decoration: none;
  text-align: center;
  color: #333;
  font-weight: bold;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
}

.card:hover {
  background-color: rgba(55, 106, 103, 1);
  color: #fff;
  cursor: pointer;
}

.card:hover a {
  color: #fff;
}

@media all and (max-width: 720px) {
  .card {
    width: 90%;
    margin: 10px auto;
  }
}

/* Quotes */
.quote {
  padding: 0px 40px;
  align-items: center;
  display: none;
}

.current {
  display: block;
  @media (min-width: 720px) {
    display: flex;
  }
}

.author {
  margin-bottom: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
}

.position {
  margin-top: 0px;
  font-style: normal;
}

.quote p {
  @media (min-width: 720px) {
  font-size: 1.1em;
  }
}

p.author {
  font-size: 0.9em;
}

.quote .control {
  display: none;
  @media (min-width: 720px) {
    display: block;
    padding: 15px;
    font-size: 4em;
    text-decoration: none;
    color: #000;
    cursor: pointer;
  }
}


/* Slider */
.slider {
  width: 100%;
  height: 0px;
  padding-top: 45%;
  overflow: hidden;
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
     -o-animation: fadein 4s; /* Opera < 12.1 */
        animation: fadein 4s;
  position: relative;
}


.slider-text {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  top: 55%;
}

.slider-title {
  font-size: 85px;
  margin: 0;
  text-align: center;
}

.slider-subtitle {
  font-size: 50px;
  margin: 0px;
  color: #fff;
  text-align: center;
}

@media all and (max-width: 940px) {
  .slider-title {
    font-size: 70px;
  }

  .slider-subtitle {
    font-size: 40px;
  }
}

@media all and (max-width: 720px) {
  .slider-text {
    top: 40%;
  }
  .slider-title {
    font-size: 55px;
  }

  .slider-subtitle {
    font-size: 30px;
  }
}

@media all and (max-width: 540px) {
  .slider {
    display: none;
  }
}

.slider img {
  width:100%;
  margin-top: -45%;
  display: none;
}

.slider img.active {
  display: block;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Contact Forms */

.form label {
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  padding: 20px 5px;
}

.contact-details {
  float: left;
  width: 50%;
}

.enroll-form {
  padding: 5px 10px;
  margin-bottom: 20px;
  overflow: auto;
}

.enroll-form label {
  padding-top: 0px;
  padding-bottom: 5px;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  padding: 20px 5px;
}

.course-form ul {
  clear: both;
  overflow: auto;
}

.course-form li {
  list-style: none;
  float: left;
  width: 50%;
}

.course-form input[type="radio"] {
  opacity: 0;
  width: 0;
}

.course-form input[type="checkbox"] {
  opacity: 0;
  width: 0;
}


.course-form li label {
  text-transform: none;
  padding: 10px;
  font-size: 1.2em;
  transition: background-color 0.5s;
}

.course-form li label:hover {
  background-color: #ddd;
  cursor: pointer;
}

.course-form label:active {
  background-color: #ddd;
}

.dynamic-options {
  display: none;
}

.cascading li {
  display:none;
}

.cascading li.validoption {
  display: block;
}

.answer-selected {
  background-color: #ddd;
  position: relative;
}

.answer-selected:after {
  content: " ✔";
  display: inline-block;
  margin-left: 5px;
  position: absolute;
  top: 5px;
  bottom: 0;
  right: 10px;
  line-height: 40px;
}

input, textarea {
  font-size: 1.4em;
  font-weight: 300;
  width: 100%;
  background-color: #e8edec;
  border: none;
  border-bottom: 3px solid #777;
  padding: 5px;
}

input:focus, textarea:focus {
  outline: none;
  border-bottom: 3px solid rgba(55, 106, 103, 1);
  background-color: #deeae9
}

.btn {
  background-color: rgba(55, 106, 103, 1);
  border: 0px;
  border-radius: 10px;
  padding: 15px 25px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9em;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  margin: 10px 0px;
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
  background-color: rgba(55, 106, 103, 0.7);
  cursor: pointer;
}

.btn .far {
  margin-right: 5px;
}

.btn-center {
  display: block;
  margin: 0 auto;
}

@media all and (max-width: 720px) {
  input, textarea {
    font-size: 1.1em;
  }

  .contact-details {
    width: 100%;
  }

  .btn {
    display: block;
    margin: 0 auto;
  }
}
