/* Contents

1. Base
2. Typography
3. Layout
3.1 Containers, columns
3.2 Background styles
4. Modules
5. Components

*/

/* --------- Base --------- */

@site-main: rgb(55, 106, 103);
@site-main-translucent: rgba(55, 106, 103, 0.7);
@text-color: #545454;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
  @media (min-width: 940px) {
    background-color: #fffff0;
  }
}

img {
  width: 100%;
}


/* --------- Typography --------- */
body, textarea, input, button, select {
  font-family: 'Quicksand', sans-serif;
  font-size: 100%;
  font-weight: normal;
  color: @text-color;
}

.heading {
  margin-top: 0;
  margin-bottom: 0.5em;
}

h1, h2, {
  .heading;
  font-family: "Amatic SC";
  color: @site-main;
  text-align: center;
}

h1 {
  font-size: 3.5em;
  @media (min-width: 1040px) {
    font-size: 4.5em;
  }
}

h2 {
  font-size: 2.5em;
  @media (min-width: 720px) {
    text-align: left;
  }
  @media (min-width: 1040px) {
    font-size: 2.75em;
  }
}

h3 {
  .heading;
  font-size: 1.8em;
  font-weight: 300;
}

p {
  font-size: 0.9em;
  line-height: 1.4em;
  margin-top: 0px;
  @media (min-width: 720px) {
    font-size: 1em;
    line-height: 1.5em;
  }
}

p + p {
  margin-top: 2em;
}

a {
  text-decoration: none;
  color: @site-main;
}

.prominent {
  text-align: center;
  font-size: 1.2em;
  @media (min-width: 720px) {
    font-size: 1.3em;
  }
}

.aside-header {
  text-align: center;
}

.text-center {
  text-align: center;
}


/* --------- Layout --------- */

.container {
  padding: 0 20px;
  @media (min-width: 1060px) {
    padding: 0;
    max-width: 1040px;
    margin: 0 auto;
  }
}

.col {
  display: block;
  padding: 15px 0;
    @media (min-width: 720px) {
      display: inline-block;
      vertical-align: top;
      padding: 30px 10px;
    }
}

.single-column {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 720px) {
  .col-1-4 {width: 25%}
  .col-1-3 {width: 33%}
  .col-1-2 {width: 50%}
  .col-2-3 {width: 66%}
  .col-3-4 {width: 75%}
}

.group {
  display: block;
    @media (min-width: 720px) {
      display: flex;
      align-items: center;
      zoom: 1;
    }
}

/* Column styles! */

.key-information {
  padding: 30px 10px;
  background-color: @site-main;
  color: #fff;
  margin-bottom: 30px;
  .aside-header {
    color: #fff;
  }
  .btn {
    background-color: #fff;
    color: rgba(55, 106, 103, 1);
    display: block;
    margin: 0 auto;
  }
  .btn:hover {
    background-color: rgba(255,255,255,0.6);
  }
}


/* Background styles! */
.inset {
  background-color: #e0e0e0;
  -moz-box-shadow:    inset 0 5px 10px -5px #000000;
  -webkit-box-shadow: inset 0 5px 10px -5px #000000;
  box-shadow:         inset 0 5px 10px -5px #000000;
}

.strips:nth-child(odd) {
  background-color: #e8edec;
}

.simple-title-bar {
  background-color: @site-main;
}

.image-title-bar {
  text-shadow: 0px 0px 20px #000;
  position: relative;
  background-size:cover;
  padding: 60px 0px;
}

.title-bar-heading {
  color: #fff;
  padding: 20px 0px;
  margin: 0;
  z-index: 1;
  @media (min-width: 720px) {
    font-size: 4.2em;
    padding: 40px 0px;
  }
  @media (min-width: 1040px) {
    font-size: 5em;
    padding: 50px 0px;
  }
}

/* --------- Modules --------- */

/* Footer */
footer {
  background-color:  rgba(55, 106, 103, 1);
  color: #fff;
}

.col-footer {
  .col-1-3 {
    padding: 0 20px;
    text-align: center;
    word-break: break-all;
  }
  @media (min-width: 720px) {
    display: flex;
    .col-1-3:not(:first-child) {
      border-left: 1px solid #fff;
    }
  }
  @media (min-width: 1040px) {
    .col-1-3 {
      border-left: 1px solid #fff;

    }
  }
}

.col-logo {
  text-align:center;
  @media (min-width: 1040px) {
  float:left;
  }
}

.footer-image-link {
  margin: 0 auto;
  padding: 0px 20px;
}

.footer-image {
  width: auto;
}

.footer {
  padding: 40px 0px;
}

.footer-link {
  text-decoration: underline;
  color: #fff;
}


/* Header */

header .logo img {
  width: auto;
}

nav li {
  display: inline-block;
}



.page-header {
  position: relative;
  height: 120px;
  max-width: 980px;
  margin: 10px auto 0 auto;
  padding: 20px 0px;
}




.language-nav {
  position: absolute;
  right: 5px;
  bottom: 35px;
}

.language-nav li {
  padding: 5px;
  margin: 5px 3px;
  width: 40px;
  height: 40px;
}

.language-nav img {
  margin: 0 auto;
  vertical-align: middle;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.language-nav img:hover {
  opacity: 0.6;
}

.active-language {
  border: 3px solid rgb(105, 69, 75);
  border-radius: 32px;
}

.top-nav {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.top-nav ul {
  margin-bottom: 0;
  padding-left: 0;
}

.top-nav img, .top-nav p {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.top-nav p {
  margin: 0 5px 0 8px;
  font-size: 0.9em;
  font-weight: 600;
  color: #000;
  padding: 10px 8px 10px 4px;
}

.top-nav img {
  padding-left: 8px;
}

.top-nav li {
  vertical-align: middle;
}

.top-nav li:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

.top-nav .navlink:hover p {
  color: rgba(55, 106, 103, 1);
}

.top-nav .action-btn {
  background-color: rgba(55, 106, 103, 1);
  color: #fff;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  line-height: 32px;
}

.top-nav .action-btn p {
  color: #fff;
}

.top-nav .action-btn:hover {
  background-color: rgba(55, 106, 103, 0.7);
}

.top-nav .action-btn:hover p {
  color: #fff;
}

.dropdown {
  display:none;
  background-color: #e0e0e0;
  position: absolute;
  z-index: 1;
}

.dropdown-header:hover .dropdown {
  display:block;
}

.dropdown-header {
  position:relative;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  right: 0;
  bottom: auto;
  box-shadow: 0px 3px 3px #777;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.sticky-ul {
  text-align: center;
  -webkit-margin-before: 0;
  background-color: #FFFFF0;
  padding: 10px 0
}



@media all and (max-width: 940px) {

.top-nav img {
  display: none;
}

}

@media all and (max-width: 720px) {
  header .logo {
    display: block;
    width: 100%;
    border-top: 1px solid #ddd;
  }

  header .logo img {
    display: block;
    margin: 0 auto;
    width: auto;
  }

  .top-nav, .language-nav {
    position: initial;
    text-align: center;
  }

  .top-nav > ul, .language-nav > ul {
    display: inline-block;
    margin: 0 0 10px 0;
    padding: 0;
  }

  .page-header {
    height: auto;
    padding: 0 0 10px 0;
  }
}


/* ----------- Components ----------------- */

/* Price tables */

.price-list {
  width: 100%;
  margin-bottom: 30px;
}

td +  td {
  text-align: center;
}

th + th {
  text-align: center;
}

table, th, td {
  border-bottom: 2px solid #ddd;
  border-collapse: collapse;
  padding: 10px;
}

@media all and (max-width: 720px) {
  table, th, td {
    font-size: 0.9em;
  }
}


/* Accordions */

.accordion {
    background-color: rgb(55, 106, 103);
    color: #fff;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 10px;
    font-size: 1.3em;
}

.accordion svg {
  float: right;
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    margin-top: 10px;
}

/* .panel img {
  width: 35%;
  display: block;
  margin-left: 5%;
  float: right;
} */

.panel.faq p {
  width: 100%;
}

/*
.panel p {
  width: 60%;
  display: block;
  float: left;
} */



/* Image styles */
.photo {
  width: 90%;
  margin: 20px auto;
  display: block;
  border: 5px solid @site-main;
  @media (min-width: 720px) {
  width: 100%;
  }
}

/* Cards */

@media all and (min-width: 720px) {
  .card-group {
    display: flex;
  }
}

.card {
  margin: 5px;
  transition: background-color 1s;
  position: relative;
  padding-bottom: 20px;
  text-align: center;
  background-color: #fff;
}

.card img {
  width: 100%;
}

.card-icon {
  padding: 5px 5px 15px 15px;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 55px;
  background-color: #fff;
}

.card-icon img {
  width: auto;

}

.card-caption {
  padding: 8px;
  margin-top: -5px;
}
.card-title {
  font-size: 1.4em;
  font-weight: bold;
  margin: 5px 0;
}

.card a {
  text-decoration: none;
  text-align: center;
  color: #333;
  font-weight: bold;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
}

.card:hover {
  background-color: rgba(55, 106, 103, 1);
  color: #fff;
}

.card:hover a {
  color: #fff;
}

@media all and (max-width: 720px) {
  .card {
    width: 90%;
    margin: 10px auto;
  }
}

/* Quotes */
.quote {
  padding: 0px 40px;
  align-items: center;
  display: none;
}

.current {
  display: block;
  @media (min-width: 720px) {
    display: flex;
  }
}

.author {
  margin-bottom: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
}

.position {
  margin-top: 0px;
  font-style: normal;
}

.quote p {
  @media (min-width: 720px) {
  font-size: 1.1em;
  }
}

p.author {
  font-size: 0.9em;
}

.quote .control {
  display: none;
  @media (min-width: 720px) {
    display: block;
    padding: 15px;
    font-size: 4em;
    text-decoration: none;
    color: #000;
    cursor: pointer;
  }
}


/* Slider */
.slider {
  width: 100%;
  height: 0px;
  padding-top: 45%;
  overflow: hidden;
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
     -o-animation: fadein 4s; /* Opera < 12.1 */
        animation: fadein 4s;
  position: relative;
}

.slider-text {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  top: 55%;
}

.slider-title {
  color: #fff;
  font-size: 85px;
  margin: 0;
  text-align: center;
}

.slider-subtitle {
  font-size: 50px;
  margin: 0px;
  color: #fff;
  text-align: center;
}

@media all and (max-width: 940px) {
  .slider-title {
    font-size: 70px;
  }

  .slider-subtitle {
    font-size: 40px;
  }
}

@media all and (max-width: 720px) {
  .slider-text {
    top: 40%;
  }
  .slider-title {
    font-size: 55px;
  }

  .slider-subtitle {
    font-size: 30px;
  }
}

@media all and (max-width: 540px) {
  .slider {
    display: none;
  }
}

.slider img {
  width:100%;
  margin-top: -45%;
  display: none;
}

.slider img.active {
  display: block;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Contact Forms */

label {
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  padding: 20px 5px;
}

.contact-details {
  float: left;
  width: 50%;
}

.enroll-form {
  padding: 5px 10px;
  margin-bottom: 20px;
  overflow: auto;
}

.enroll-form label {
  padding-top: 0px;
  padding-bottom: 5px;
}

.course-form ul {
  clear: both;
  overflow: auto;
}

.course-form li {
  list-style: none;
  float: left;
  width: 50%;
}

.course-form input[type="radio"] {
  opacity: 0;
  width: 0;
}

.course-form input[type="checkbox"] {
  opacity: 0;
  width: 0;
}


.course-form li label {
  text-transform: none;
  padding: 10px;
  font-size: 1.2em;
  transition: background-color 0.5s;
}

.course-form li label:hover {
  background-color: #ddd;
  cursor: pointer;
}

.course-form label:active {
  background-color: #ddd;
}

.dynamic-options {
  display: none;
}

.cascading li {
  display:none;
}

.cascading li.validoption {
  display: block;
}

.answer-selected {
  background-color: #ddd;
  position: relative;
}

.answer-selected:after {
  content: " ✔";
  display: inline-block;
  margin-left: 5px;
  text-align: right;
  float:left;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  line-height: 40px;
}

input, textarea {
  font-size: 1.4em;
  font-weight: 300;
  width: 100%;
  background-color: #e8edec;
  border: none;
  border-bottom: 3px solid #777;
  padding: 5px;
}

input:focus, textarea:focus {
  outline: none;
  border-bottom: 3px solid rgba(55, 106, 103, 1);
  background-color: #deeae9
}

.btn {
  background-color: rgba(55, 106, 103, 1);
  border: 0px;
  border-radius: 10px;
  padding: 15px 25px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9em;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  margin: 10px 0px;
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
  background-color: rgba(55, 106, 103, 0.7);
  cursor: pointer;
}

.btn .far {
  margin-right: 5px;
}

.btn-center {
  display: block;
  margin: 0 auto;
}

@media all and (max-width: 720px) {
  input, textarea {
    font-size: 1.1em;
  }

  .contact-details {
    width: 100%;
  }

  .btn {
    display: block;
    margin: 0 auto;
  }
}
