/* Contents

1. Base
2. Typography
3. Layout
4. Modules
5. Components

*/


/* --------- Layout --------- */







/* --------- Modules --------- */

/* Page titles */
.page-title {
  background-color: rgba(55, 106, 103, 1);
}

.page-title .container {
  position: relative;
  width: 940px;
}

.page-title h1 {
  margin: 0px 50px;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}

.page-title img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  margin: auto;
  width: 40px;
}
