<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <!-- CSS -->
  <link rel="stylesheet" href="assets/main.css">
  <link rel="stylesheet" href="assets/normalise.css">
  <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

  <title>Ceica Peru Home</title>
</html>
<body>
  <header class="page-header">
    <nav class="language-nav">
      <ul>
        <li><a href="#"><img src="assets/images/united-kingdom.png" class="active-language" /></a></li>
        <li><a href="#"><img src="assets/images/france.png"/></a></li>
        <li><a href="#"><img src="assets/images/germany.png"/></a></li>
        <li><a href="#"><img src="assets/images/spain.png"/></a></li>
      </ul>
    </nav>
    <nav class="top-nav">
      <ul>
        <li class="dropdown-header">
          <img src="assets/images/learn-spanish.png">
          <p>Learn Spanish</p>
          <ul class="dropdown">
            <li class="navlink"><a href="#"><p>Spanish lessons</p></a></li>
            <li class="navlink"><a href="#"><p>Special programs</p></a></li>
          </ul>
        </li>
        <li class="navlink"><a href="#"><img src="assets/images/volunteer.png"><p>Volunteer</p></a></li>
        <li class="navlink"><a href="#"><img src="assets/images/accommodation.png"><p>Accommodation</p></a></li>
        <li class="navlink"><a href="#"><img src="assets/images/prices.png"><p>Prices</p></a></li>
        <li class="dropdown-header">
          <img src="assets/images/about-us.png">
          <p>About Us</p>
          <ul class="dropdown">
            <li class="navlink"><a href="#"><p>About the school</p></a></li>
            <li class="navlink"><a href="#"><p>About Arequipa</p></a></li>
            <li class="navlink"><a href="#"><p>Meet the team</p></a></li>
            <li class="navlink"><a href="contact.html"><p>Contact Us</p></a></li>
          </ul>
        </li>
        <li class="action-btn" ><a href="#" class="navlink"><p>Enroll</p></a></li>
      </ul>
    </nav>
    <div class="logo">
      <a href="index.html">
        <img src="assets/images/logo.png" alt="Ceica Peru Spanish School"/>
      </a>
    </div>
  </header>
  <main>
    <section class="full-width">
      <div class="slider">
        <img class="active" src="assets/images/slide-1.PNG"/>
        <img src="assets/images/slide-2.png"/>
        <img style="margin-top: -60%" src="assets/images/slide-3.png"/>
        <img src="assets/images/slide-4.png"/>
        <div class="slider-text">
          <h2 class="slider-title">
            A great way
          </h2>
          <h2 class="slider-subtitle">
            to learn Spanish
          </h2>
        </div>
      </div>
    </section>
    <section class="container">
      <p class="prominent">
        Ceica Peru is a Spanish language school located in Arequipa, Peru.
      </p>
      <p class="prominent">
        We provide <b>individual lessons for all levels of Spanish speakers</b> and group lessons for new learners in a relaxed setting, in our beautiful garden or in the classroom. We have <b>special courses for travellers, volunteers and missionaries</b>. We also offer <b>a variety of accommodation options</b>, including living with local families, staying in the school building, and staying in a private furnished apartment.
      </p>
    </section>
    <section class="full-width inset ">
      <div class="home container">
          <h2>What we offer</h2>
        <div class="group">
          <div class="col-1-3 card">
            <div class="card-icon">
              <img src="assets/images/learn-spanish.png">
            </div>
            <img src="assets/images/home-courses.png">
            <div class="card-caption">
              <p class="card-title">
              Courses
              </p>
              <p>
              We have a variety of courses for all levels of Spanish, as well as special courses in Peruvian history, Peruvian literature and Quechua.
              </p>
              <a href="volunteering">Read more ></a>
            </div>
          </div><!--Stop the white space
          --><div class="col-1-3 card">
            <div class="card-icon">
              <img src="assets/images/learn-spanish.png">
            </div>
            <img src="assets/images/home-special.png">
            <div class="card-caption">
              <p class="card-title">
              Special programs
              </p>
              <p>
              We also offer special courses in Spanish for travelling, and programms combining Spanish learning with speaking practice around the city of Arequipa.
              </p>
              <a href="volunteering">Read more ></a>
            </div>
          </div><!--Stop the white space
          --><div class="col-1-3 card">
            <div class="card-icon">
              <img src="assets/images/volunteer.png">
            </div>
            <img src="assets/images/home-volunteering.png">
            <div class="card-caption">
              <p class="card-title">
              Volunteering
              </p>
              <p>
              Ceica Peru Spanish School works together with several social projects in Arequipa to offer volunteer programs that allow you to practice Spanish and at the same time contribute to the social development of the children and adults of these communities.
              </p>
              <a href="volunteering">Read more ></a>
            </div>
        </div>
      </div>
    </section>
    <section class="container home">
      <h2>What our students say</h2>
      <div class="group quote current">
        <a class="control control-left">‹</a>
        <div class="col-3-4">
          <p>"Ceica Peru is a great place to learn or improve your Spanish. My teacher Sonia was  a fantastic teacher and I learnt a lot during my week there. The lessons are totally tailored to your needs and we were taught in the garden which beat any classroom! All the staff were incredibly welcoming and encouraged all the students to get to know each other and practice Spanish together during breaks and activities. Can't recommend it enough!"</p>
          <p class="author">S Young, Scotland</p>
        </div>
        <div class="col-1-4">
          <img src="https://static.wixstatic.com/media/bf211d_302ad9902e2a4e71ad3d3a78dab91628~mv2.jpg/v1/fill/w_153,h_151,al_c,q_80,usm_1.20_1.00_0.01/bf211d_302ad9902e2a4e71ad3d3a78dab91628~mv2.webp">
        </div>
        <a class="control control-right">›</a>
      </div>
      <div class="group quote">
        <a class="control control-left">‹</a>
        <div class="col-3-4">
          <p>"I studied Spanish at Ceica Peru for 100 hours over four weeks. Right from my first email, the service was amazing. Sofia organised a host family for me to stay with and arranged for the school to pick me up from the airport. My teacher Ada was fantastic. As well as preparing educational and interesting lessons, we also had so much fun during our time together. I would 100% recommend Ceica Peru to anyone wishing to study Spanish."</p>
          <p class="author">L Bilinski, UK</p>
        </div>
        <div class="col-1-4">
          <img src="https://static.wixstatic.com/media/bf211d_5f1f7522bfe24e16a18448f21e737a91~mv2_d_1200_1302_s_2.jpg/v1/crop/x_387,y_244,w_813,h_803/fill/w_152,h_151,al_c,q_80,usm_1.20_1.00_0.01/bf211d_5f1f7522bfe24e16a18448f21e737a91~mv2_d_1200_1302_s_2.webp">
        </div>
        <a class="control control-right">›</a>
      </div>
      <div class="group quote">
        <a class="control control-left">‹</a>
        <div class="col-3-4">
          <p>"The family I stayed with and the home-stay in general was great. The family was extremely pleasant and helpful in all ways. Their house was warm and welcoming. They truly consider you to be a part of their family - even after your studies have ended and you’ve continued on with your travels or returned home. The school is also very reasonably priced and the professors excellent. They’re not just there to get paid, they take interest in their students and want them to succeed."</p>
          <p class="author">C Baaden, USA</p>
        </div>
        <div class="col-1-4">
          <img src="https://static.wixstatic.com/media/bf211d_ae7fe245a2c144feaa4dadb37ff91bbf~mv2_d_1572_1944_s_2.jpg/v1/crop/x_191,y_163,w_1147,h_1138/fill/w_152,h_151,al_c,q_80,usm_1.20_1.00_0.01/bf211d_ae7fe245a2c144feaa4dadb37ff91bbf~mv2_d_1572_1944_s_2.webp">
        </div>
        <a class="control control-right">›</a>
      </div>
      <div class="group quote">
        <a class="control control-left">‹</a>
        <div class="col-3-4">
          <p>"Without having deepened Spanish knowledge I was a little bit uncertain about   everything-how to communicate, how to discuss, how to settle in appropriately, but this uncertainty disappeared within a few hours when I met my host family. Thanks to the highly efficient and methodically good structured  single lessons at Ceica Peru Spanish School, I  quickly learnt Spanish. In addition to  this my teacher had German language skills and together we  enjoyed the classes in the sunny, calm and green garden of Ceica Peru Spanish School learning has never been so easy!</p>
          <p class="author">F Muster, Switzerland</p>
        </div>
        <div class="col-1-4">
          <img src="https://static.wixstatic.com/media/bf211d_f3d0e0ddf81745f99455b20398f2aa49~mv2.jpg/v1/fill/w_152,h_151,al_c,q_80,usm_1.20_1.00_0.01/bf211d_f3d0e0ddf81745f99455b20398f2aa49~mv2.webp">
        </div>
        <a class="control control-right">›</a>
      </div>
      <div class="group quote">
        <a class="control control-left">‹</a>
        <div class="col-3-4">
          <p>"My three stays at Ceica Peru have been very pleasant and enriching for me. The atmosphere of the school and the quality of the family's hospitality provided me with the ideal conditions for learning in an immersion environment. Both the family and the school surrounded me with attention which made me feel very secure. Furthermore, the teaching was suited to my pace of learning in Spanish. At the advanced level, I benefited from very instructive lessons about the history and society of Peru and, as well, I enjoyed tremendously my gastronomical experiences in the Arequipa region."</p>
          <p class="author">Jean Ives, Canada</p>
        </div>
        <div class="col-1-4">
          <img src="https://static.wixstatic.com/media/bf211d_c47242b3d5694a4fb7dd30e9128ef25b~mv2.jpg/v1/fill/w_152,h_151,al_c,lg_1,q_80,usm_1.20_1.00_0.01/bf211d_c47242b3d5694a4fb7dd30e9128ef25b~mv2.webp">
        </div>
        <a class="control control-right">›</a>
      </div>
      <div class="group quote">
        <a class="control control-left">‹</a>
        <div class="col-3-4">
          <p>"I love Ceica Peru Spanish School more than all the others. I have taken Spanish in many schools - in Mexico, Chile and Peru - and Ceica Peru  is the best. First, the owners are locals, not large American or European companies. During my two month at Ceica Peru, my money directly helped Peruvians - not other countries. In addition, the quality of the teachers at Ceica Peru - Carmen, Carlos and others - is the best I have found. Finally, an affordable school with excellent teachers and the perfect environment. I recommend Ceica Peru Spanish School to everyone to improve their Spanish.</p>
          <p class="author">K Anderson, USA</p>
        </div>
        <div class="col-1-4">
          <img src="https://static.wixstatic.com/media/bf211d_8c986cc5a4b2441f8250c91006810ba4~mv2.jpg/v1/fill/w_152,h_151,al_c,lg_1,q_80,usm_1.20_1.00_0.01/bf211d_8c986cc5a4b2441f8250c91006810ba4~mv2.webp">
        </div>
        <a class="control control-right">›</a>
      </div>
    </section>

  </main>
  <footer class="full-width">
    <div class="container group">
      <div class="col-1-4 logo">
        <img src="assets/images/logo-white.png"/>
      </div><div class="col-1-4">
        <p>
          <b>Dirección:</b><br>
          Calle Los Arces 257-A, <br>
          Primer Piso, Cayma, <br>
          Arequipa, Peru
        </p>
      </div><div class="col-1-4">
        <p>
        <b>Tel:</b><br>
        (00 51 54) 250722<br>
        Whatsapp:<br>
        +51959910196
        </p>
      </div><div class="col-1-4">
        <p>
        <b>E-mail:</b><br>
        ceicaperuspanishschool@hotmail.com<br>
        www.facebook.com/ceicaperu/
        </p>
      </div>

    </div>
  </footer>
  <!-- Javascript -->
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="js/site.js"></script>
</body>
</html>
