{% extends "template.html" %}
{% load i18n %}
{% block title %}{% trans "Enroll - Final step" %}{% endblock %}
{% block metadescription %}<meta name="description" content="{% trans 'You are almost enrolled! To confirm your application and book your place at our school, please pay the enrollment fee using the button below:' %}">{% endblock %}
{% block content %}
{% load static %}
<header class="full-width page-title">
  <div class="container">
    <h1>{% trans 'Enroll' %}</h1>
  </div>
</header>
<section class="container">
  <h2 class="text-center">
    {% trans 'One more step...' %}
  </h2>
  <p class="prominent">{% trans 'You're almost enrolled! To confirm your application and book your place at our school, please pay the enrollment fee using the button below:' %}</p>
  <form class="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="AYXJLSPTQVHU2">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
  </form>


</section>
{% endblock %}
