{% extends "template.html" %}
{% load i18n %}
{% block title %}{% trans "Enroll - Volunteer Application Submitted" %}{% endblock %}
{% block metadescription %}<meta name="description" content="{% trans 'Thank you for applying for a volunteer program at Ceica Peru. We will be in touch shortly about your next steps.' %}">{% endblock %}
{% block content %}
{% load static %}
<header class="full-width page-title">
  <div class="container">
    <h1>{% trans 'Enroll' %}</h1>
  </div>
</header>
<section class="container">
  <h2 class="text-center">
    {% trans 'Volunteer application submitted' %}
  </h2>
  <p class="prominent">{% trans 'Thank you for applying for a volunteer program at Ceica Peru. We'll be in touch shortly to discuss any more information we might need from you to process your application. If you have any further questions, please e-mail us at' %} <a href="mailto:info@ceica-peru.com">info@ceica-peru.com</a>.</p>

</section>
{% endblock %}
